*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 40px;
    font-size: 30px;
}
#first{
    background-color: green;
}
#second{
    background-color: yellow;
}
#third{
    background-color: red;
}
section p{
    width: 90%;
}
button{
    font-size: 100px;

}
a{
    color: black;
    font-size: 100px;
    margin: 50px;
}
