body{
    background-color: pink;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.square{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;

}
*{
    margin: 0;
    padding: 0;
}
.square:hover{
    background-color: gray;
    border-radius: 50%;
    transition: 1.5s;
}
